*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background: #f7f7f9;
}

body {
  overflow-x: hidden;
}

.page-1_container {
  background-color: white;
  border-bottom-left-radius: 17%;
  overflow-x: hidden;
}

header{  
  display: flex;
  margin-left: 5%;
}

.my-logo {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  margin-right: 65%;
  margin-top: 5%;
}

.my-logo a{
  text-decoration: none;
  color: #7f8cff;
}

.my-logo:hover {
  text-decoration: underline;
  text-decoration-color: #6070ff;
}

.collapsed_menu {
  margin-top: 5%;
  color: #6070ff;
}

.headline{
  background-image: url('images/shapes.png');
  background-repeat: no-repeat;
  padding-bottom: 30%;
  background-color: white;
  background-size:100% auto;
}

.headline h1{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 250%;
  font-weight: bolder;
  line-height: 52px;
  color: #172b4d;
  margin-left: 5%;
  margin-bottom: 10%;
  padding-top: 23%;
}

.headline h1:hover {
  text-decoration: underline;
  text-decoration-color: #7f8cff;
}

.headline p {
  width: 85%;
  margin-left: 5%;
  margin-right: -1%;
  margin-top: -5%;
  margin-bottom: 5%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.headline p:hover {
  text-decoration: underline;
  text-decoration-color: #7f8cff;
}

.headline div {
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-left: 5%;
  margin-bottom: 3%;
}

.headline div:hover {
  text-decoration: underline;
  text-decoration-color: #7f8cff;
}

.headline div a:link,
.headline div a:visited,
.headline div a:active {
  text-decoration: none;
  color: #7f8cff;
}

.headline ul {
  display: flex;
  gap: 6%;
  margin-left: 5%;
}

.headline ul li:hover {
  border: 0.1px solid #7f8cff;
}

/* minimum mobile screen size : 375px */

ul {
  list-style-type: none;
}

.works {
  display: grid;
  padding-left: 7.5%;
  width: 95%;
  height: 100%;
  margin-top: 20%;
}

.card_works {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4%;
  width: 100%;
  height: 552px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 3%;
}

.card_works + .card_works{
  margin-top: 30%;
}

.snapshot_portfolio {
  width: 96%;
  height: 72%;
  background: url(images/SnapshootPortfolio.jpg);
  background-repeat: no-repeat;
  border-radius: 5%;
  margin-bottom: 3%;
}

.snapshot_portfolio_1 {
  width: 95%;
  height: 72%;
  background: url(images/SnapshootPortfolio1.jpg);
  border-radius: 5%;
  background-repeat: no-repeat;
}

.left_block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  margin-left: 4%;
}

.project_title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 200%;
  color: #172b4d;
}

.sub_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4%;
  width: 100%;
  margin-bottom: 4%;
}

.client {
  display: flex;
  align-items: center;
  width: 20%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 90%;
  color: #344563;
}

.counter {
  width: 3%;
  height: 40%;
  border-radius: 50%;
  background: #c1c7d0;
}

.role {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 85%;
  color: #7a869a;
}

.year_label {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 20%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 85%;
  color: #7a869a;
}

.project_description {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 100%;
  color: #344563;
  margin-bottom: 4%;
}

.tags{
  display: flex;
  width: 40%;
  margin-bottom: 4%;
}

.tags div{
  flex-direction: row;
  background: #EBEBFF;
  border-radius: 20%;
  margin-right: 12%;
  padding: 4% 7%;
  padding-left: 10%;
  padding-right: 10%;
  color: #6070FF;
}

.see_project {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3%;
  margin-top: 5%;
  border: 1px solid #6070ff;
  border-radius: 10%;
  background-color: white;
  color: #396df2;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 100%;
}

.about_myself {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 20%;
  border-top-right-radius: 75px;
}

.about_header {
  width: 327px;
  height: 101px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.about_header:hover{
  text-decoration: underline;
  text-decoration-color: #6070ff;
}

.about_description {
  width: 327px;
  height: 144px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.about_description:hover{
  text-decoration: underline;
  text-decoration-color: #6070ff;
}
.connect {
  width: 117px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #7f8cff;
}

.connect:hover{
  text-decoration: underline;
  text-decoration-color: #6070ff;
}

.about_myself ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 236px;
  height: 32px;
}

.about_myself ul li:hover{
  border: 1px solid #396df2;
}

.resume_button {
  box-sizing: border-box;
  display: flex;
  width: 162px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  margin-top: 2%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.03em;
  color: #396df2;
}

.skills_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 327px;
  height: 464.15px;
  margin-top: 20%;
}

.languages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  width: 327px;
  height: 320.15px;
  margin-top: -20%;
}

.language_header {
  width: 327px;
  height: 72px;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 160px;
}

.language_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  gap: 10px;
  width: 236px;
  height: 32px;
  font-size: large;
  color: #253858;
}

.language_list div {
  display: flex;
  flex-direction: row;
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  margin-right: -20%;
  padding: 5%;
}

.language_list div p{
  padding: 5%;
}

.language_list div img{
  border-radius: 50%;
}

.text_arrow {
  display: flex;
  align-items: center;
  width: 203px;
  height: 24px;
  font-size: large;
  margin-right: 40%;
  margin-left: 2%;
  margin-top: 4%;
  margin-bottom: 4%;
}

.text_arrow img{
  margin-left: 90%;
}

.text_arrow div{
  margin-left: 110%;
}

.separator {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #dfe1e6;
}

.contact_me {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #6070ff;
  background-position: right;
  background-image: url('images/contact\ form\ shapes-mobile.png');
  background-repeat: no-repeat;
  border-top-left-radius: 80px;
  overflow-x: hidden;
}

.contact_me h2 {
  width: auto;
  height: 56px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  margin-top: 35%;
  margin-left: 20%;
}

.contact_me p {
  width: 100%;
  height: 102px;
  top: 138px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  padding: 0 24px 40px 24px;
  margin-top: 6%;
  margin-bottom: 21%;
}

.contact_me form ul{
  display: flex;
  flex-direction: column;
  
}

input {
  width: 327px;
  height: 48px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 16px 15px 38px 15px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  margin-left: 3%;
}

form ul {
  padding: 0 24px 0 20px;
}

input[type="text"] {
  font-size: 18px;
  padding: 0 17px;
}

input[type="email"] {
  font-size: 18px;
  padding: 0 17px;
}

form textarea {
  width: 327px;
  height: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin-right: 24px;
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 16px 15px 38px 15px;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  margin-top: 5%;
  margin-left: 8%;
}

form textarea ::placeholder {
  color: #b3bac5;
}

.contact_me button {
  width: 142px;
  height: 48px;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  color: #6070ff;
  font-size: 17px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  background: #fff;
  border: 1px solid #7f8cff;
  margin-left: 8%;
}

.contact_me button:hover {
  width: 142px;
  height: 48px;
  margin-left: 20px;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  background: #6070ff;
  color: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

.contact_me button:active {
  width: 142px;
  height: 48px;
  margin-left: 20px;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  background: #6070ff;
  color: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

.contact_me button:disabled {
  width: 142px;
  height: 48px;
  margin-left: 20px;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  background: white;
  color: gray;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  border: 1px solid #c1c7d0;
}

@media only screen and (min-width: 375px) {
}

/* minimum desktop screen size : 768px */
@media only screen and (min-width: 768px) {

}