*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background: #f7f7f9;
}

body {
  overflow-x: hidden;
}

.page-1_container {
  background-color: white;
  border-bottom-left-radius: 17%;
  overflow-x: hidden;
}

header {
  display: flex;
  margin-left: 5%;
}

.text_arrow img {
  margin-left: 320%;
}

.text_arrow div {
  margin-left: 331%;
}

.contact_me p {
  justify-content: center;
  text-align: center;
  width: 95%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #ebebff;
  margin-top: 1%;
  margin-left: 3%;
  margin-bottom: 6%;
  padding-left: 5%;
  padding-right: 3%;
}

ul {
  list-style-type: none;
}

.my-logo {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  margin-right: 65%;
  margin-top: 5%;
}

form ul {
  padding: 0 24px 0 20px;
}

.my-logo a {
  text-decoration: none;
  color: #7f8cff;
}

.my-logo:hover {
  text-decoration: underline;
  text-decoration-color: #6070ff;
}

.collapsed_menu {
  margin-top: 5%;
  color: #6070ff;
}

.headline p {
  width: 85%;
  margin-left: 5%;
  margin-right: -1%;
  margin-top: -5%;
  margin-bottom: 5%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.language_list div p {
  padding: 5%;
}

.menu ul {
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin-right: 65%;
  margin-top: 30%;
}

.menu ul li {
  margin-right: 35%;
}

.headline {
  background-image: url('images/shapes.png');
  background-repeat: no-repeat;
  padding-bottom: 30%;
  background-color: white;
  background-size: 100% auto;
}

.headline h1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 250%;
  font-weight: bolder;
  line-height: 52px;
  color: #172b4d;
  margin-left: 5%;
  margin-bottom: 10%;
  padding-top: 23%;
  padding-right: 20%;
}

.headline h1:hover {
  text-decoration: underline;
  text-decoration-color: #7f8cff;
}

.headline p:hover {
  text-decoration: underline;
  text-decoration-color: #7f8cff;
}

.headline div {
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-left: 5%;
  margin-bottom: 3%;
}

.tags div {
  flex-direction: row;
  background: #ebebff;
  border-radius: 8px;
  margin-right: 12%;
  padding: 4% 7%;
  padding-left: 10%;
  padding-right: 10%;
  color: #6070ff;
}

.language_list div img {
  border-radius: 50%;
}

.language_list div {
  display: flex;
  flex-direction: row;
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  margin-right: -20%;
  padding: 5%;
  margin-bottom: 5%;
}

.headline div:hover {
  text-decoration: underline;
  text-decoration-color: #7f8cff;
}

.headline div a:link,
.headline div a:visited,
.headline div a:active {
  text-decoration: none;
  color: #7f8cff;
}

.headline ul {
  display: flex;
  gap: 6%;
  margin-left: 5%;
}

.headline ul li:hover {
  border: 0.1px solid #7f8cff;
}

.works {
  display: grid;
  padding-left: 7.5%;
  width: 95%;
  height: 100%;
  margin-top: 20%;
}

.card_works {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4%;
  width: 100%;
  height: 552px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 3%;
}

.card_works + .card_works {
  margin-top: 30%;
}

.snapshot_portfolio {
  width: 96%;
  height: 72%;
  background: url(images/SnapshootPortfolio.jpg);
  background-repeat: no-repeat;
  border-radius: 5%;
  margin-bottom: 3%;
}

.snapshot_portfolio_1 {
  width: 95%;
  height: 72%;
  background: url(images/SnapshootPortfolio1.jpg);
  border-radius: 5%;
  background-repeat: no-repeat;
}

.left_block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  margin-left: 4%;
}

.project_title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 200%;
  color: #172b4d;
}

.sub_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4%;
  width: 100%;
  margin-bottom: 4%;
}

.client {
  display: flex;
  align-items: center;
  width: 20%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 90%;
  color: #344563;
}

.counter {
  width: 3%;
  height: 40%;
  border-radius: 50%;
  background: #c1c7d0;
}

.role {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 85%;
  color: #7a869a;
}

.year_label {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 20%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 85%;
  color: #7a869a;
}

.project_description {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 100%;
  color: #344563;
  margin-bottom: 4%;
}

.tags {
  display: flex;
  width: 40%;
  margin-bottom: 4%;
}

.see_project {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2%;
  margin-top: 5%;
  border: 1px solid #6070ff;
  border-radius: 16px;
  background-color: white;
  color: #396df2;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 100%;
}

.see_project:hover {
  background-color: #6070ff;
  color: white;
  }

.about_myself {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 20%;
  border-top-right-radius: 75px;
  padding-bottom: 40%;
  overflow-x: hidden;
}

.about_header {
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 200%;
  display: flex;
  align-items: center;
  color: #172b4d;
  margin-left: 14%;
  margin-top: 15%;
}

.about_header:hover {
  text-decoration: underline;
  text-decoration-color: #6070ff;
}

.about_description {
  width: 327px;
  height: 144px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-top: 3%;
}

.about_description:hover {
  text-decoration: underline;
  text-decoration-color: #6070ff;
}

.connect {
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #7f8cff;
  margin-left: 16%;
  margin-top: 3%;
}

.connect:hover {
  text-decoration: underline;
  text-decoration-color: #6070ff;
}

.about_myself ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7%;
  width: 85%;
  height: 100%;
  margin-top: 6%;
  margin-left: 7%;
}

.about_myself ul li:hover {
  border: 1px solid #396df2;
}

.resume_button {
  box-sizing: border-box;
  display: flex;
  width: 40%;
  height: 100%;
  border: 1px solid #6070ff;
  border-radius: 12%;
  padding-left: 3%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 100%;
  letter-spacing: 0.03em;
  color: #396df2;
  margin-top: 3%;
  margin-left: -42.5%;
}

.languages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  width: 100%;
  height: 100%;
  margin-left: 16%;
}

.language_header {
  width: 327px;
  height: 72px;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 160px;
}

.language_list {
  font-size: large;
  color: #253858;
}

.text_arrow {
  display: flex;
  align-items: center;
  width: 203px;
  height: 24px;
  font-size: large;
  margin-right: 40%;
  margin-left: 15%;
  margin-top: 4%;
  margin-bottom: 4%;
}

.separator {
  width: 90%;
  height: 1px;
  border-bottom: 1px solid #dfe1e6;
  margin-left: 15%;
}

.purple {
  background: #6070ff;
  width: 100%;
  height: 100%;
  padding-top: 10%;
  border-top-left-radius: 80px;
  padding-bottom: 10%;
}

.contact_me {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  background-image: url('images/contact\ form\ shapes-mobile.png');
  background-position: right;
  background-repeat: no-repeat;
  background-size: auto 100%;
  overflow-x: hidden;
  padding-top: 35%;
}

.contact_me h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  z-index: 1;
  font-weight: 700;
  font-size: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  margin-left: 20%;
  margin-top: -20%;
}

.contact_me form ul {
  display: flex;
  flex-direction: column;
}

input {
  width: 327px;
  height: 48px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 16px 15px 38px 15px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  margin-left: 3%;
  margin-bottom: 4%;
}

input[type="text"] {
  font-size: 18px;
  padding: 0 17px;
}

input[type="email"] {
  font-size: 18px;
  padding: 0 17px;
}

form textarea {
  width: 327px;
  height: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin-right: 24px;
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 16px 15px 38px 15px;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  margin-left: 8%;
}

form textarea ::placeholder {
  color: #b3bac5;
}

.contact_me button {
  width: 142px;
  height: 48px;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  color: #6070ff;
  font-size: 17px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  background: #fff;
  border: 1px solid #7f8cff;
  margin-left: 8%;
}

.contact_me button:hover {
  width: 142px;
  height: 48px;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  background: #6070ff;
  color: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

.contact_me button:active {
  width: 142px;
  height: 48px;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  background: #6070ff;
  color: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

.contact_me button:disabled {
  width: 142px;
  height: 48px;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  background: white;
  color: gray;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  border: 1px solid #c1c7d0;
}

@media only screen and (max-width: 767px) {
  .menu {
    display: none;
  }
}

/* minimum desktop screen size : 768px */
@media only screen and (min-width: 768px) {
  .page-1_container {
    margin: auto;
  }

  header {
    margin-bottom: -5%;
    margin-top: -5%;
  }

  .my-logo {
    margin-right: 70%;
    margin-top: 6.5%;
  }

  .collapsed_menu {
    display: none;
  }

  .menu {
    margin-top: 3%;
  }

  .headline {
    width: 100%;
    background-image: url('images/Header\ bg.png');
    background-position: fixed;
    background-size: 100% 80%;
    padding-bottom: 8%;
  }

  .headline h1 {
    margin-left: 17%;
    margin-bottom: 7%;
    margin-top: 10%;
    padding-top: 15%;
  }

  .headline p {
    width: 50%;
    margin-left: 17%;
  }

  .headline div {
    margin-left: 17%;
    margin-top: -3%;
  }

  .headline ul {
    margin-left: 17%;
    margin-top: -2%;
    margin-bottom: 10%;
    gap: 2%;
  }

  .card_works {
    box-sizing: border-box;
    display: grid;
    width: 1156px;
    height: 476px;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 3%;
  }

  .snapshot_portfolio {
    float: left;
    width: 544px;
    height: 448px;
    background-size: contain;
    padding: 0;
    margin: 0;
  }

  .snapshot_portfolio_1 {
    float: right;
    width: 544px;
    height: 448px;
    background-size: contain;
    padding: 0;
    margin: 0;
  }
.tags {
    width: 15%
  }

  .tags div {
    width: fit-content;
    block-size: fit-content;
    white-space: nowrap; 
  }
  .left_block {
    width: 50%;
    margin-left: 54%;
    margin-top: -85%;
  }

  .work_1 .snapshot_portfolio {
    background: url('images/Snapshoot\ Portfolio.png');
    margin-top: -4%;
    margin-left: -4%;
  }

  .work_2 .snapshot_portfolio_1 {
    margin-left: 50%;
  }

  .work_2 .left_block {
    margin-left: -2%;
    margin-top: -92%;
  }

  .work_3 .snapshot_portfolio {
    margin-left: -4%;
    margin-top: -3%;
  }

  .work_3 .see_project{
    background-color: #6070ff;
    color: white;
  }

  .work_4 .snapshot_portfolio_1 {
    margin-left: 50%;
    background: url('images/uber.png');
    margin-top: -4%;
  }

  .work_4 .left_block {
    margin-left: -2%;
  }

  .card_works + .card_works {
    margin-top: 10%;
  }

  .works {
    margin-left: 10%;
  }

  .about_header {
    margin-bottom: -0.1%;
  }

  .about_description {
    margin-left: -58%;
    margin-top: 0.99%;
    width: 447px;
  }

  .connect {
    margin-top: -2%;
    margin-left: 14%;
  }

  .about_myself ul {
    gap: 1%;
    margin-top: 1%;
    margin-left: 1%;
  }

  .resume_button {
    width: 9.65%;
    margin-left: -76%;
    margin-top: 1%;
    margin-right: 0;
    padding: 0.7%;
    border-radius: 16px;
  }

  .resume_button:hover {
    background-color: #6070ff;
    color: white;
  }

  .languages {
    margin-left: 87%;
    margin-top: -17%;
  }

  .language_header p {
    margin-right: 500px;
  }

  .language_list {
    display: flex;
    flex-direction: row;
    width: 20%;
  }

  .language_list + .language_list {
    margin-right: 10%;
  }

  .language_list div {
    flex-direction: column;
    margin-right: 10%;
    margin-bottom: 20%;
    background-color: f7f7f9;
    padding-bottom: 30%;
  }

  .language_list div img {
    width: 48px;
    height: 48px;
    margin-top: -5%;
  }

  .move_skills {
    margin-left: -4%;
  }

  .separator {
    width: 390%;
  }

  .about_myself {
    padding-bottom: 10%;
  }

  .contact_me {
    background: url('images/contact\ form\ background\ shapes@2x.png');
  }

  .contact_me h2 {
    width: 50%;
    margin-top: -30%;
    margin-left: 44%;
  }

  .contact_me p {
    width: 41%;
    margin-left: 30%;
    margin-bottom: 1%;
  }

  .contact_me input {
    margin-left: 38%;
    margin-bottom: 1%;
    width: 430px;
  }

  form textarea {
    margin-left: 38%;
    margin-bottom: 1%;
    width: 430px;
  }

  .contact_me button {
    margin-left: 47.5%;
    margin-bottom: 1%;
  }
}
