.container {
  background: white;
  border-bottom-left-radius: 50px;
}

.toolbar {
  display: flex;
  margin-left: 5%;
  margin-bottom: 7vh;
}

.primary-color {
  color: #6070ff;
}

.collapsed_menu {
  font-size: 25px;
}

.my-logo {
  width: 85%;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
}

.my-logo:hover {
  text-decoration: underline;
  text-decoration-color: rgb(29, 124, 202);
}

.container-1 {
  display: flex;
  gap: 50%;
}

.ellipse11 {
  margin-left: -10px;
}

.ellipse_5 {
  position: absolute;
  margin-left: 33.5%;
}

.rectangle_7 {
  margin-left: 35.5%;
  margin-top: -2%;
}

.rectangle_4 {
  margin-left: 80%;
  margin-top: -15.5%;
  margin-bottom: 0;
}

.ellipse_3 {
  position: absolute;
  margin-left: 86%;
  margin-top: -9%;
}

.greetings {
  margin-top: 10%;
  margin-left: 5%;
  width: 60%;
  font-size: large;
}

.greetings:hover {
  text-decoration: underline;
  text-decoration-color: rgb(29, 124, 202);
}

.description {
  font-size: large;
  margin-left: 5%;
  width: 65%;
}

.description:hover {
  text-decoration: underline;
  text-decoration-color: rgb(29, 124, 202);
}

.lets_connect {
  margin-left: 5%;
  text-decoration: none;
}

.lets_connect:hover {
  text-decoration: underline;
  text-decoration-color: rgb(29, 124, 202);
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

.img-container {
  display: flex;
  gap: 5%;
  margin-top: 4%;
  margin-left: 5%;
}

.ellipse_13 {
  margin-left: 85%;
  margin-top: -1.23%;
}

.ellipse_15 {
  margin-top: 20%;
  margin-left: 15%;
}

.rectangle_5 {
  margin-left: 60%;
}

.ellipse_4 {
  margin-left: 73%;
  margin-top: -11%;
}

img:hover {
  border: 3px solid rgb(29, 124, 202);
}

/* minimum mobile screen size : 375px */
@media only screen and (min-width: 375px) {
  body {
    background-color: white;
  }
}

/* minimum desktop screen size : 768px */
@media only screen and (min-width: 768px) {
  .container {
    background-color: antiquewhite;
  }
}
